<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socket.io</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Image</th>
            <th>Desc</th>
            <th>Video</th>
        </tr>
        <% products.forEach((product, index) => { %>
            <tr>
                <th><%= index + 1 %></th>
                <th><%= product.name %></th>
                <th><%= product.image %></th>
                <th><%= product.desc %></th>
                <th><%= product.video %></th>
            </tr>
        <% }); %>
    </table>
</body>
<script src="reload/reload.js"></script>

</html>