<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socket.io</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Image</th>
            <th>Desc</th>
            <th>Video</th>
            <th>Modify</th>
        </tr>
        <% products.forEach((product, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= product.name %></td>
                <td><%= product.image %></td>
                <td><%= product.desc %></td>
                <td><%= product.video %></td>
                <td>
                    <a href="/remove/<%= product._id %>" onclick="return confirm('Are you sure?')">
                        Remove
                    </a>  
                    <a href="/update/<%= product._id %>">
                        Update
                    </a>                    
                </td>
            </tr>
        <% }); %>
    </table>
</body>
<script src="reload/reload.js"></script>
</html>